@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  scroll-behavior: smooth;
}
.navbar{
  padding: 0 !important;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;
  color: #111;
}
navbar {
    padding-top: 1.2rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .85rem;
}
.navbar.active {
    background-color: rgba(0,172,217, 0.7);
    box-shadow: 1px 2px 10px rgba(0,0,0,0.1);
}
.navbar-brand{
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  flex: 1;
}
.navbar-brand h2{
  height: 40px;
  padding-left: 10px;
  color: #111;
  font-size: 25px;
  padding-top: 11px;
}
.nav-link, .nav-item{
  color: #fff !important;
}
.nav-link:hover{
  color: yellow;
}
.navbar-toggler{
  outline: none;
}
.logo{
  width: 40px;
  height: 40px;
}
#banner{
    background-image: linear-gradient(to right, rgba(0,172,217, 0.62), rgba(105,240,174, 0.52)), url('images/pexels-lukas-577210.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8rem;
    padding-bottom: 6rem;
    position: relative;
    color: #fff;
    min-height: 100vh;
}

.hero{
  z-index: 1000;
  
}
.title h2{
  font-size: 30px;
  font-weight: 400;
  margin-top: 70px; 
  padding-bottom: 10px;
}
#about{
  background: #fcfcfc;
  color: #;
}

.section-title {
    position: relative;
}

h2.section-title-heading {
    color: #111;
    padding-top: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
}

.section-title::after {
    content: '';
    position: absolute;
    border-bottom: 2px solid rgba(0,172,217, 0.62);
    width: 40%;
    top: 70px;
    left: 20px;
}

.section-title:hover::after {
    width: 3%;
    transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
}
.fas{
  color: #FFC600;
}
@media (max-width: 992px) {

    .navbar-collapse {
        background: rgba(0,172,217,1);
        padding-left: 1rem;
    }
    h2, h3, h4, p{
      font-size: 1rem;
    }

}
  .menuToggle{
    position: relative;
    width: 40px;
    cursor: pointer;
  }