@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
.navbar{
  background: #330867;
  padding: 0 !important;
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar-brand{
  display: flex;
  align-items: center; 
  justify-content: flex-start;
}
.navbar-brand h2{
  height: 40px;
  padding-left: 10px;
  color: #eee;
  font-size: 25px;
  padding-top: 11px;
}
.nav-link, .nav-item{
  color: #fff !important
}
.navbar-toggler{
  outline: none;
}
.logo{
  width: 40px;
  height: 40px;
}
#banner{
 background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  color: #fff;
}
.title h1{
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px; 
}
#banner .container{
  padding-top: 5%;
}
.btn-white{
  box-shadow: none; 
  padding: 8px 25px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, #516BC8, #2B47AE);
  color: #fff;
}