@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  scroll-behavior: smooth;
  min-height: 100vh;
}
.navbar{
  padding: 0 !important;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;
  color: #37474f;
}
navbar {
    padding-top: 1.2rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .85rem;
}
.navbar.active {
    background-color: rgba(0,172,217, 0.7);
    box-shadow: 1px 2px 10px rgba(0,0,0,0.1);
}
.navbar-brand{
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  flex: 1;
}
.navbar-brand h2{
  height: 40px;
  padding-left: 10px;
  color: #37474f;
  font-size: 25px;
  padding-top: 11px;
}
.nav-link, .nav-item{
  color: #fff !important;
}
.nav-link:hover{
  color: yellow;
}
.navbar-toggler{
  outline: none;
}
.logo{
  width: 40px;
  height: 40px;
}
#banner{
    background-image: linear-gradient(to right, rgba(0,172,217, 0.62), rgba(105,240,174, 0.52)), url('images/pexels-lukas-577210.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8rem;
    padding-bottom: 6rem;
    position: relative;
    color: #fff;
    height: 100%
}

.hero{
  z-index: 1000;
  
}
.title h2{
  font-size: 30px;
  font-weight: 400;
  margin-top: 70px; 
  padding-bottom: 10px;
}
#about{
  background: #fcfcfc;
}

.section-title {
    position: relative;
}

h2.section-title-heading {
    color: #37474f;
    padding-top: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
}

.section-title::after {
    content: '';
    position: absolute;
    border-bottom: 2px solid rgba(0,172,217, 0.62);
    width: 5%;
    top: 65px;
    left: 16px;
}

.section-title:hover::after {
    width: 50%;
    transition: all 0.7s ease-out;
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
}
.fas{
  color: #FFC600;
}
.icon{
  width: 40px;
  height: 40px;
  padding-bottom: 10px;
}
#features {
    background-color: #fafafa;
    padding-bottom: 6rem;
    margin-top: 3rem;
}

#features img {
    display: block;
    margin: 0 auto;
}

#features .feature-block {
    text-align: center;
}

#features .feature-block h3 {
    color: #37474f;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#features .feature-block img {
    padding-bottom: 1rem;
}

#features .feature-block p {
    color: #495057;
    font-size: 1rem;
    line-height: 1.7rem;
}
@media (max-width: 992px) {

    .navbar-collapse {
        background: rgba(0,172,217,1);
        padding-left: 1rem;
    }
    p{
      font-size: 1rem;
    }

}